<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fetching data from REST APIs</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h3>图书列表</h3>

		<table class="table" id="table-content">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">书名</th>
					<th scope="col">出版时间</th>
					<th scope="col">价格</th>
					<th scope="col">作者</th>
					<th scope="col">页数</th>
					<th scope="col">ISBN</th>
				</tr>
			</thead>
		</table>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="/rest.js"></script>
</body>
</html>
